.App { 
  /* background: rgb(238, 69, 64); */
  height: 100vh;
  /* background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.9136029411764706) 
  27%, rgba(219,249,255,1) 53%, rgba(207,247,255,1) 
  59%, rgba(195,245,255,1) 61%, rgba(179,242,255,1) 66%,
  rgba(145,237,255,1) 76%, rgba(123,233,255,1) 91%, rgba(71,224,255,1) 98%);
   */

  /* background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.9136029411764706) 1%, rgba(230,230,231,1) 12%, rgba(201,201,202,1) 31%, rgba(187,188,189,1) 42%, rgba(166,167,169,1) 57%, rgba(160,161,163,1) 65%, rgba(154,155,157,1) 71%, rgba(139,140,143,1) 86%, rgba(101,103,107,1) 100%, rgba(33,37,41,1) 100%);
  */

  /* background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.9136029411764706) 0%, rgba(230,230,231,1) 11%, rgba(201,201,202,1) 31%, rgba(187,188,189,1) 42%, rgba(166,167,169,1) 57%, rgba(160,161,163,1) 61%, rgba(154,155,157,1) 68%, rgba(139,140,143,1) 76%, rgba(118,119,122,1) 87%, rgba(101,103,106,1) 91%, rgba(62,66,69,1) 100%, rgba(33,37,41,1) 100%); */

  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.9136029411764706) 3%, rgba(230,230,231,1) 11%, rgba(201,201,202,1) 28%, rgba(187,188,189,1) 38%, rgba(166,167,169,1) 49%, rgba(160,161,163,1) 56%, rgba(154,155,157,1) 59%, rgba(139,140,143,1) 67%, rgba(118,119,122,1) 75%, rgba(101,103,106,1) 82%, rgba(62,66,69,1) 100%, rgba(33,37,41,1) 100%);
} 

.unorg-list { 
  position: relative; 
  margin: 25px;
  width: 700px;
  height: 520px;
  padding: 0px;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
}

